name: Verify README examples
on:
  push:
    branches: [main]
  pull_request:
    branches: ['**']
jobs:
  verify-readme:
    name: Verify README examples
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: 'Fetch `test` branch for README examples'
      run: git fetch origin test:test
    - uses: dtolnay/rust-toolchain@stable
    - uses: Swatinem/rust-cache@v2
    - run: cargo install parquet2json
    - uses: astral-sh/setup-uv@v5
    - run: pip install 'mdcmd>=0.7.4' 'dffs>=0.1.1'
    - name: Use git-diff-parquet.sh to diff .parquet files
      run: |
        echo "*.parquet diff=parquet" > .gitattributes
        echo "${{ github.workspace }}" >> $GITHUB_PATH
        git config diff.parquet.command git-diff-parquet.sh
        git config diff.parquet.textconv "parquet2json-all -n2"

        # Configs assumed or used by README examples:
        git config diff.noprefix true     # Remove "a/" and "b/" prefixes in diff/show output
        git config alias.dxr "diff-x -R"
    - name: Verify README examples
      run: |
        . .pqt-rc
        export SHELL
        mdcmd
        git diff --exit-code
    - name: Verify README TOC
      run: |
        mktoc
        git diff --exit-code
